.cards-img img {
    width: auto;
    height: 200px;
    max-height: 200px;
    object-fit: contain;
}

.override-bk-white::after {
    background-color: white;
}
.override-bk-white .slider-arrow .slick-arrow{
    color:black;
}

.testimonial-override .slick-arrow {
    color: white;
}

.testimonial-override .slick-dots li::after {
    background-color: white;
    color: white;
}


@media only screen and (max-width: 570px) {
    .vehicle-backdrop {
        background: url("../../images/bk.webp");
        background-position-x: right;
        /* background */
    }

    .how-we-are__offer-section__item {
        background: white;
    }
}