:root {
  --main-color-one: #404f92;
  --main-color-two: #C89D62;
  --menu-font: 'Poppins', sans-serif;
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Montserrat', sans-serif;
  --slider-heading-regular-font: 'gilroy-regular';
  --slider-heading-medium-font: 'gilroy-medium';
  --slider-heading-bold-font: 'gilroy-bold';
  --paragraph-color: #181818; 
}

#bookingTitle:before{
  background-color: var(--main-color-one);
}

header {
  position: relative !important;
}

#sidebar {
  display: block;
}

.success {
  background: #28a745 !important;
  border-color: #28a745 !important;
  color: white !important;
}

.bottom-nav-fixed {
  position: fixed;
  bottom: 0px;
  background: white;
  color: black;
  width: 100%;
  z-index: 500;
}

#sidebar {
  max-width: 100%;
}

.bottom-nav-abs1{
  position: absolute !important;
  top: -15px;
  left: 15%;
}

.bottom-nav-abs2{
  position: absolute !important;
  top: -15px;
  left: 30%;
}

.bottom-nav-abs3{
  position: absolute !important;
  top: -15px;
  right: 45%;
}

.main-btn-wrap .main-btn.black-border:disabled {
  color: lightgray;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

.location-search-input{
  margin-bottom: 0 !important;
}

.step-car-sell__details_form input[type=text], .step-car-sell__details_form input[type=email] {
  margin-bottom: 0px !important;
}

.invalid-feedback{
  display: block !important;
}

.border-top-5 {
  border-top: 5px solid #ddd;
}

.border-top-1 {
  border-top: 1px solid #ddd;
}

.fa-1-5x {
  font-size: 1.5em !important;
}

.h5-car-filter-item .content-area:after{
  transition: 0.5s;
}


.h5-car-filter-item .content-area:hover:after{
  top:25%;
}